# Database Configuration (App)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=cocos
DB_SSL=false

# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (Tests)
# Estos valores coinciden con la configuración de docker-compose.test.yml
DB_TEST_HOST=localhost
DB_TEST_PORT=5433
DB_TEST_USERNAME=postgres
DB_TEST_PASSWORD=postgres
DB_TEST_NAME=cocos_test
DB_TEST_SSL=false
